<nz-layout>
  <nz-header>
    <ul nz-menu [nzMode]="'horizontal'" [nzSelectable]="false">
      <li nz-menu-item routerLink="/user" [nzSelected]="router.url.startsWith('/user')">
        <i nz-icon nzType="user" nzTheme="outline"></i>
        用户
      </li>
      <li nz-menu-item routerLink="/group" [nzSelected]="router.url.startsWith('/group')">
        <i nz-icon nzType="team" nzTheme="outline"></i>
        分组
      </li>
      <li nz-menu-item routerLink="/process" [nzSelected]="router.url.startsWith('/process')">
        <i nz-icon nzType="setting" nzTheme="outline"></i>
        流程
      </li>
      <li nz-menu-item routerLink="/task" [nzSelected]="router.url.startsWith('/task')">
        <i nz-icon nzType="dashboard" nzTheme="outline"></i>
        任务
      </li>
    </ul>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>
    <nz-back-top></nz-back-top>
  </nz-content>
  <nz-footer style="text-align: center;">Ant Design ©2019 Implement By Angular</nz-footer>
</nz-layout>
