<div>
  <table border="1">
    <tr>
      <th>流程名</th>
      <th>key</th>
      <th>操作</th>
    </tr>
    <tr *ngFor="let item of list">
      <td>{{item.name}}</td>
      <td>{{item.key}}</td>
      <td>
        <a href="javascript:void(0);" (click)="create(item.key)">开启实例</a>
        <!--<a href="javascript:void(0);"></a>-->
        <!--<a href="javascript:void(0);"></a>-->
        <!--<a href="javascript:void(0);"></a>-->
        <!--<a href="javascript:void(0);"></a>-->
      </td>
    </tr>
  </table>
</div>
