<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body ng-controller="ctrl">
<p><a href="/">返回主页</a></p>
{{msg}}
<script src="https://cdn.bootcss.com/angular.js/1.7.8/angular.min.js"></script>
<script>
    var app = angular.module('app', []);
    app.controller('ctrl', ['$scope', function ($scope) {
        $scope.msg = '1233';
        $scope.init = function () {
            console.log(1);
        };
        $scope.init();
    }])
</script>
</body>
</html>